@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Sofia+Sans+Semi+Condensed:ital@1&display=swap');
*
{
    font-family: 'Lato', sans-serif;
}
.navbar-brand
{
    background-color: gold;
}
.navbar-brand span
{
    color: chocolate;
}
.navbar-nav
{
    background-color: beige;
}
.container-fluid
{
    background-color: beige;
}
.carousel
{
    padding: 15px;
}
.carousel-item h5
{
    background-color: black;
    opacity: 20%;
}
.carousel-item p
{
    background-color: black;
    opacity: 20%;
}
.section1
{
    padding: 60px;
    background-color: beige;
}
footer
{
    background-color: gold;
    color: chocolate;
    text-align: center;
    font-size: 30px;
    font-family:'Lato', sans-serif;
    text-transform: capitalize;
    padding: 20px;
}
footer i
{
    font-size: 50px;
    letter-spacing: 10px;
    color: #333;
}
.subir
{
    height: 40px;
    width: 40px;
    background-color: black;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}